* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

main {
  background-position: center;
  height: 100%;
  transition: .5s;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 30px;
}

.dark {
  background-image: url(../assets/dark.jpg);
  color: white;
  font-weight: 400;
}

.light {
  background-image: url(../assets/light.jpg);
}

.avatarDark {
  background-image: url(../assets/avatar-dark.png);
}

.avatarLight {
  background-image: url(../assets/avatar-light.png);
}

.mainContainer {
  width: 90%;
  max-width: 550px;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.avatar {
  transition: .5s;
  width: 100px;
  background-size: contain;
  background-position: center;
  height: 100px;
}

.switch {
  width: 50px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  position: relative;
  transition: .5s;
  cursor: pointer;
}

.switchDark {
  border: 1px solid white;
}

.switchButton {
  position: absolute;
  width: 30px;
  height: 30px;
  top: -6.5px;
  left: -15px;
  border-radius: 50%;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  transition: .5s;
  background-size: 50%;
  cursor: pointer;
}

.switch:hover .switchButton {
  background-color: rgb(223, 221, 219);
}

.buttonDak {
  background-image: url(../assets/moon.png);
}

.buttonLight {
  background-image: url(../assets/Sun.png);
}

main p {
  width: 95%;

  text-align: center;
  font-size: .9em;
  font-weight: bold;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.linkDark {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid white;
}
.linkLight {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid black;
}

main p:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.socialLinks{
  display: flex;
  transition: .5s;
  gap:10px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
}

.socialLinks img {
  cursor: pointer;
}